
.projects {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    overflow-y: scroll;
    max-height: 80vh;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project img {
    width: 30vw;
}
::-webkit-scrollbar {
    display: none;
}
@media (max-width: 1600px) {
    .project img {
        max-width: 420px;
    }
    .projects {
        gap: 50px;
    }
}
.project h2 {
    font-size: 23px;
}
@media (max-width: 1153px) {
    .project img {
        max-width: 400px;
    }
    .project h2 {
        font-size: 18px;
    }
}